<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>yelp simulation</title>
    <h1>Welcome to Yelp</h1>
    <h3>List of Categories</h3>

    <a href="{{ url_for('stores_list', category='Restaurants') }}">Restaurants</a><br>
    <a href="{{ url_for('stores_list', category='Hair Salons') }}">Hair Salons</a><br>
    <a href="{{ url_for('stores_list', category='Gas Stations') }}">Gas Stations</a><br>
    <a href="{{ url_for('stores_list', category='Department Stores_Grocery') }}">Department Stores/Grocery</a><br>
    <a href="{{ url_for('stores_list', category='Pharmacy') }}">Pharmacy</a><br>

</head>
<body>

</body>
</html>