<!DOCTYPE html>
<html lang="en">
<head>
    <script src="http://maps.google.com/maps/api/js?sensor=false"
          type="text/javascript"></script>
    <link rel="stylesheet" href="stylesheet.css">
    <title>Safe Space</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <style>


        .navbar-inverse.nav-upper {
            height: 50px;
            padding-left: 165px;
            padding-top: 30px;
        }

        #logo {
            position: absolute;;
            top: 19px;
            left: 0;
        }

        @media (min-width: 768px) {

            .navbar.navbar-lower .navbar-nav {
                margin-left: 128px;
                margin-top: 30px;
            }
        }

        .form-inline .form-control {
            width: 525px;
        }

        hr.style-one {
            border: 0;
            height: 1px;
            background: #333;
            background-image: linear-gradient(to right, #ccc, #333, #ccc);
        }

        .container-fluid {
            position: absolute;
        }

        .h2 {
            position: fixed;
        }

        .checked {
            color: orange;
        }
        
        .main{
            font-family: 'Roboto', sans-serif;

        }
        .inner
{
    display: inline-block;
}

    </style>
</head>
<body>

<div id="logo">
    <img src="https://i.ibb.co/C0XFF5V/Final-Logo.png"
    style="width:150px;height:100px;">
</div>
<div class="main">
<nav class="navbar-inverse nav-upper">

    <form class="form-inline my-2 my-lg-0 ">
        <input class="form-control mr-sm-2" type="search" placeholder="Where are you headed?" aria-label="Search">
        
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        
    </form>
     <input type="image" style= "margin-left: 835px ;height:70px;width:70px;"src="https://i.ibb.co/mvmMj4B/circle-cropped-1.png" />
   

    </ul>
    </div>
</nav>

<nav class="navbar navbar-inverse navbar-static-top navbar-lower">
    <nav class="navbar navbar-expand-sm  navbar-light">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('home') }}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item" style="padding-left:1em">
                    <a class="nav-link" href="{{ url_for('stores_list', category='Restaurants') }}">Restaurants</a>
                </li>
                <li class="nav-item" style="padding-left:1em">
                    <a class="nav-link" href="{{ url_for('stores_list', category='Hair Salons') }}">Hair Salons</a>
                </li>
                <li class="nav-item" style="padding-left:1em">
                    <a class="nav-link" href="{{ url_for('stores_list', category='Department Stores_Grocery') }}">Department
                        Stores/Grocery</a>
                </li>
                <li class="nav-item" style="padding-left:1em">
                    <a class="nav-link" href="">Airports</a>
                </li>
                <li class="nav-item" style="padding-left:1em">
                    <a class="nav-link" href="">Parks</a>
                </li>
                
            </ul>
        </div>

    </nav>


    <div class="container" style="margin-top:30px">

        <div class="row">

            <div class="col-sm-8">
                <hr><br>

                {% for store in stores %}
                    <div class="card" style=" height: 23.5rem; width: 45rem">
                        <div class="row no-gutters">
                            <div class="col-auto">
                                <br>
                                <img src="{{ store[11] }}" class="img-fluid" alt=""
                                     style="font-weight: bold;width:250px;height:200px;padding-top: 8px;padding-bottom: 22px;padding-left: 20px;padding-right: 20px;">
                            </div>
                            <div class="col">
                                <div class="card-block px-2">
                                    <br>
                                    <h4 class="card-title">{{ store[1] }}</h4>
                                    <div style="font-size:20px;font-weight: bold;"> Overall Ratings: {{ store[8] }} / 5</div>
                                    <div style="color:grey">Location: {{ store[3] }}</div>
                                    <div style="color:grey">Open Hours: {{ store[6] }}</div>
                                    <div style="color:grey">Number of ratings: {{ store[7] }}</div>
                                    <br>
                                    <div style="font-weight: bold;">Physical Distancing:</div>
                                    <div style="font-weight: bold;">Surface sanitization:</div>
                                    <div style="font-weight: bold;">Staff precautions (gloves, masks):</div>
                                    <div>This place is operating at limited customer capacity</div>
                                    <br>
                                    <a href="{{ url_for('rating') }}" class="btn btn-primary" style="margin-left: 75%;">Rate Safety</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="col-sm-4">
                <br>

                <div id="map" style="width: 360px; height: 846px;"></div>

                <script type="text/javascript">
                  var locations = [
                    ['Habit Burger', 37.352129, -121.95977],
                    ['Olive Garden',37.412829, -121.895848],
                    ['Venus Cafe',37.387145,-121.883553],
                    ['Imagine Beauty Center',37.387116,-121.887412]
                  ];

                  var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 10,
                    center: new google.maps.LatLng( 37.352129, -121.95977),
                    mapTypeId: google.maps.MapTypeId.ROADMAP
                  });

                  var infowindow = new google.maps.InfoWindow();

                  var marker, i;

                  for (i = 0; i < locations.length; i++) {
                    marker = new google.maps.Marker({
                      position: new google.maps.LatLng(locations[i][1], locations[i][2]),
                      map: map
                    });

                    google.maps.event.addListener(marker, 'click', (function(marker, i) {
                      return function() {
                        infowindow.setContent(locations[i][0]);
                        infowindow.open(map, marker);
                      }
                    })(marker, i));
                  }
                </script>
          </div>
        </div>

        <footer class="container py-5">
            <div class="row">
              <div class="col-12 col-md">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="d-block mb-2"><circle cx="12" cy="12" r="10"></circle><line x1="14.31" y1="8" x2="20.05" y2="17.94"></line><line x1="9.69" y1="8" x2="21.17" y2="8"></line><line x1="7.38" y1="12" x2="13.12" y2="2.06"></line><line x1="9.69" y1="16" x2="3.95" y2="6.06"></line><line x1="14.31" y1="16" x2="2.83" y2="16"></line><line x1="16.62" y1="12" x2="10.88" y2="21.94"></line></svg>
                <small class="d-block mb-3 text-muted">© 2020</small>
              </div>
         
             
              <div class="col-12 ">
                <h5>Contact us</h5>
                <ul class="list-unstyled text-small">
                  <li><a class="text-muted" href="">Email: xyz123@gmail.com</a></li>
                  <li><a class="text-muted" href="">Phone number: 516-458-1234</a></li>
                  <li><a class="text-muted" href="">Social media links</a></li>
                </ul>
              </div>
              
              <div class="col-12">
                <h5>About</h5>
                <ul class="list-unstyled text-small">
                  <li><a class="text-muted" href="">Team</a></li>
                  <li><a class="text-muted" href="">Locations</a></li>
                  <li><a class="text-muted" href="">Privacy</a></li>
                  <li><a class="text-muted" href="">Terms</a></li>
                </ul>
              </div>
            </div>
          </footer>
        </div>
</body>
</html>
